@import "font";

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  margin: 0 auto;
  width: 90%;
  height: 100vh;
  padding: 3%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 30%;
  padding: 2%;
  &__paragraph {
    margin: 0 auto;
  }
}

.picture {
  align-self: flex-end;
}
