.header__logo {
  font-family: "Baloo", sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: -0.025rem;
}

.navigation {
  &__box {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

.content {
  &__title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 4rem;
    text-align: center;
    letter-spacing: -0.08rem;
  }
  &__paragraph {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
  }
}
