@import "color";
@import "font";

// Responsive navigation menu based on Kevin Powell tutorial
.header {
  margin-top: 3rem;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

// To make it tabbable for accessability
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: $text;
  height: 0.2rem;
  width: 2em;
  border-radius: 0.2rem;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 0.7rem;
}

.nav-toggle-label span::after {
  top: 0.7rem;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: $text;
  text-decoration: none;
  font-size: 1.6rem;
  opacity: 0;
  // Animated collapsable menu
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: $text;
  border-bottom: 0.2rem solid red;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

// Animated dropdown menu with delay of 250ms
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
