@import "color";

.header {
  //   display: flex;
  //   align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 6rem;
  padding: 1.2rem;
  position: relative;
}

.nav-toggle {
  display: none;
}

.navigation {
  width: 100%;
  position: absolute;
  top: 100%;
  right: 0;
  text-align: right;
  // Animates the dropdown menu
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  &__box {
    // display: flex;
    width: 100%;
    list-style-type: none;
    // margin: 0;
    // padding: 0;
  }
  &__links {
    margin-bottom: 1rem;
    a {
      color: $text;
      text-decoration: none;
      opacity: 0;
      // Animation of opacity
      transition: opacity 150ms ease-in-out;
    }
    a:hover {
      border-bottom: 0.2rem solid red;
    }
  }
}

.nav-toggle {
  position: absolute;
  top: 40%;
  right: 0;
  text-align: right;
}

// Toggles the dropdown menu with transform
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  // Animation of opacity with a 250ms delay
  transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
  position: absolute;
  top: 2.4rem;
  right: 1.6rem;
  color: $text;

  // Styling the toggle
  span {
    display: block;
    background: $text;
    height: 0.2rem;
    width: 2rem;
    border-radius: 0.2rem;
    position: relative;
    &::after,
    &::before {
      display: block;
      background: $text;
      height: 0.2rem;
      width: 2rem;
      border-radius: 0.2rem;
      position: absolute;
      content: "";
    }
    &::before {
      bottom: 0.7rem;
    }
    &::after {
      top: 0.7rem;
    }
  }
}
