@import "color";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  // position: relative;
  color: $text;
  background-color: $background;
  width: 100%;
  height: 100%;
}
