// Assets
@import "reset";
@import "font";
@import "color";

// Components
@import "header";
@import "content";

// Media queries
@media screen and (min-width: 600px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    // all: unset; this causes issues with Edge, since it's unsupported
    // add Edge support
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    // end Edge support

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 0.5rem;
    background: $background;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }

  .content__title {
    font-size: 7.4rem;
  }
  .content__paragraph {
    font-size: 2.2rem;
  }
}

@media screen and (min-width: 1000px) {
  .content {
    height: 40%;
  }
  .content__title {
    font-size: 8.4rem;
  }
  .content__paragraph {
    width: 70%;
    font-size: 2.4rem;
  }
}
